@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for quill richtext editor */
.quill .ql-editor {
    min-height: 10em;
    /* max-height: 18em; */
    line-break: anywhere;
}

table#projCreateInputs{
    border-collapse: separate;
    border-spacing: 0.8rem;
}

table#projCreateInputs  td.projCreate_inputLabel{
    width: 17rem;
}
table#projCreateInputs  td.projCreate_inputField{
    width: 100%;
}

td.projCreate_inputLabel{
    font-size: 1.1rem;
    font-weight: bold;
}